RewriteRule ^stargazer$ /models/stargazer/stargazer.html [L]
RewriteRule ^creta$ /models/creta/creta.html [L]
RewriteRule ^kona$ /models/kona/kona.html [L]
RewriteRule ^palisade$ /models/palisade/palisade.html [L]
RewriteRule ^santa-fe$ /models/santa fe/santa.html [L]
RewriteRule ^staria$ /models/staria/staria.html [L]
RewriteRule ^tucson$ /models/tucson/tucson.html [L]
RewriteRule ^venue$ /models/venue/venue.html [L]
RewriteRule ^home$ /index.html [L]
RewriteRule ^pormo-terbaru$ /promo.html [L]